@model EstoqueModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="text-center">
        <h3 class="display-4">Editar o registro de nome: @Model.name</h3>
    </div>
<form method="post" asp-controller="Inventory" asp-action="EditarEstoque">

    <input type="hidden" asp-for="id"/>
    <div class="row mb-3">
        <div class="col">
            <input class="form-control" asp-for="name" type="text" />
        </div>
        <div class="col">
                <input class="form-control" asp-for="price" type="number" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
                <textarea class="form-control" rows="10" cols="30" asp-for="description"></textarea>
        </div>
    </div>
        <div class="d-grid gap-2">
            <button class="btn btn-info" type="submit">Enviar</button>
            <a class="btn btn-secondary" type="button" asp-controller="Inventory" asp-action="ComeBack">Voltar</a>
        </div>
</form>
</div>