@inject IHttpContextAccessor context;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bem vindo(a) ao controle de estoque em C#</p>
</div>

@context.HttpContext.Session.GetString("Teste")

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://st.depositphotos.com/1011643/2343/i/600/depositphotos_23439498-stock-photo-secretary-answering-telephone.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://blog.fecap.br/wp-content/uploads/fecap-secretaria-executiva.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.meuconsultorio.com/wp-content/uploads/2021/06/12-tecnicas-de-recepcao-para-consultorio-1-730x370.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
